---
title: Page Not Found - 404
---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body class="body--dark">
<div class="not-found container">
  <div class="not-found__container">
    <div class="not-found__lockup">
      <h1 class="not-found__header">Sorry!</h1>
      <h1 class="not-found__sub-header">You took a wrong turn</h1>
      <p class="not-found__body">The page you are looking for was moved, removed, or might have never existed.</p>
      <a class="not-found__link" href="{{ site.url }}{{ site.baseurl }}">go home</a>
    </div>
  </div>
  <div class="not-found__container">
    <img class="not-found__img" src="{{ site.url }}{{ site.baseurl }}assets/img/404-bkg-img.jpg" alt="404 Page not Found"/>
  </div>
</div>
{% include analytics.html %}
</body>
</html>
