---
layout: default
title: About
permalink: about
---

{% include about_header.html %}
{% include about_content.html %}
{% include footer.html %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.0/velocity.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.0/velocity.ui.min.js"></script>
<script src="{{ site.baseurl }}assets/js/sticky_kit.js"></script>
<script src="{{ site.baseurl }}assets/js/mobile_menu.js"></script>
<script src="{{ site.baseurl }}assets/js/about_scroll.js"></script>
<script src="{{ site.baseurl }}assets/js/footer.js"></script>
