---
layout: default
title: Home
---

{% include hero.html %}
{% include intro.html %}
{% include categories.html %}
{% include testimonials.html %}
{% include clients.html %}
{% include certifications.html %}
{% include services.html %}
{% include footer.html %}

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous">
</script>
<script src="https://www.youtube.com/iframe_api"></script>
<script>
var player;

function onYouTubeIframeAPIReady() {
    player = new YT.Player('video-placeholder', {
        controls: 0,
        rel: 0,
        modestbranding: 1,
        videoId: 'lcO36aS2GeM',
        playerVars: {
            color: 'white'
        },
        events: {
          onStateChange: onPlayerStateChange
        }
    });
}

$('.video-play-btn').click(function() {
  if (player.getPlayerState() !== 1) {
    $('.headline__lockup').addClass('hide-headline');
    $('.hero__cover-photo').addClass('hide-cover-img');
    $('.media-controls').removeClass('hide-media-controls');
    player.setVolume(33);
    player.playVideo();
  } else {
    player.pauseVideo();
  }
});

function setSoundBtn() {
  if(player.isMuted()){
      player.unMute();
      $('.media-btn').attr('src','{{ site.url }}{{ site.baseurl }}assets/img/volume-2.svg');
  }
  else{
      player.mute();
      $('.media-btn').attr('src','{{ site.url }}{{ site.baseurl }}assets/img/volume-x.svg');
  }
}

$('.media-btn').on('click', setSoundBtn);

function onPlayerStateChange(event) {
    if(event.data === 0) {
      $('.headline__lockup').removeClass('hide-headline');
      $('.hero__cover-photo').removeClass('hide-cover-img');
      $('.media-controls').addClass('hide-media-controls');
    } else if(event.data === 1) {
      if(player.isMuted()){
          $('.media-btn').attr('src','{{ site.url }}{{ site.baseurl }}assets/img/volume-x.svg');
      }
      else{
          $('.media-btn').attr('src','{{ site.url }}{{ site.baseurl }}assets/img/volume-2.svg');
      }
    }
}
</script>
<script src="{{ site.url }}{{ site.baseurl }}assets/js/p1.entry.chunk.js"></script>
