---
layout: visen
title: VISEN
permalink: visen
metadesc: Metromedia Technologies is a large format printer. Pioneering the invention of large format digital printing in 1987 MMT has over 25 years experience in the field.
twimage: home-image-social
fbtitle: VISEN - LED Lighting System
fburl: http://mmt.com/visen
fbimage: home-image-social
---

{% include visen_hero.html %}
{% include visen_intro.html %}
{% include footer.html %}

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous">
</script>
<script src="{{ site.url }}{{ site.baseurl }}assets/js/p5.entry.chunk.js"></script>