---
layout: category
title: Day/Night
headline: Wow Factor
description: Change a creative depending on the time of day using day/night technology.
showcase: https://source.unsplash.com/random
permalink: /categories/day-night/
metadesc: Change a creative depending on the time of day using day/night technology.
twimage: home-image-social
fbtitle: Metromedia Technologies - Day to Night
fburl: http://www.mmt.com/categories/day-night/
fbimage: home-image-social
---

<section class="category-showcase">
  <div class="container flex">
    <div class="category-details">
      <div class="detail__lockup">
        <h2>{{page.title}}</h2>
        <h1>{{page.headline}}</h1>
        <p>{{page.description}}</p>
      </div>
    </div>
    <div class="category-hero">
      {% for post in site.categories.day-night limit:1 %}
        <a style="background-image: url({{ site.url }}{{ site.baseurl }}{{ post.img }});" class="product__link" href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">
          <div class="product__details">
            <div class="product__lockup">
              <h3>{{ post.title }}</h3>
              <p>{{ post.description }}</p>
            </div>
          </div>
        </a>
    </div>
    <div class="product__details--mobile">
      <h3>{{ post.title }}</h3>
      <span class="service__underscore"></span>
      <p>{{ post.description }}</p>
    </div>
    {% endfor %}
  </div>
</section>

<section class="category-thumbnails">
  <div class="container">
      {% for post in site.categories.day-night offset:1 %}
        {% assign mod = forloop.index | modulo:3 %}
        {% if mod == 1 or forloop.first %}
          <div class="flex-row">
        {% endif %}
        <div class="{{ post.class }}">
          <a style="background-image: url({{ site.url }}{{ site.baseurl }}{{ post.img }});" class="product__link" href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">
            <div class="product__details">
              <div class="product__lockup">
                <h3>{{ post.title }}</h3>
                <p>{{ post.description }}</p>
              </div>
            </div>
          </a>
          <div class="product__details--mobile">
            <h3>{{ post.title }}</h3>
            <span class="service__underscore"></span>
            <p>{{ post.description }}</p>
          </div>
        </div>
        {% if mod == 0 or forloop.last %}
          </div>
        {% endif %}
      {% endfor %}
  </div>
</section>
<div class="pagination">
  <div class="container">
    <a class="pagination__btn prev" href="{{ site.url }}{{ site.baseurl }}categories/prop/">
      <img src="{{ site.url }}{{ site.baseurl }}assets/img/chevron-left.svg" alt="Arrow Left"> prop
    </a>
    <a class="pagination__btn next" href="{{ site.url }}{{ site.baseurl }}categories/transit/">
      transit <img src="{{ site.url }}{{ site.baseurl }}assets/img/chevron-right.svg" alt="Arrow Right">
    </a>
  </div>
</div>
