.pagination
  background: white
  padding-bottom: 70px
  width: 100%

  &__btn
    background: $color-complement
    display: inline-block
    margin: 5px
    transition: background 0.25s, color 0.25s
    text-transform: uppercase
    line-height: 26px
    color: white

    &:hover
      background: rgba($color-complement, 0.8)

  .prev
    padding: 12px 15px 10px 10px

    img
      float: left
      margin-right: 5px
  .next
    padding: 12px 10px 10px 15px

    img
      float: right
      margin-left: 5px
