.pagination
  display: flex
  height: 70px
  width: 100%

  &__btn
    background: white
    display: block
    flex: 0 1 50%
    height: 70px
    line-height: 50px
    padding: 10px 20px
    transition: background 0.25s, color 0.25s
    text-transform: uppercase
    width: 50%
    color: $color-complement

    &:hover
      background: rgba($rgba-grey-dark, 0.08)

    img
      display: inline-block
      height: 50px
      transition: transform 0.25s

  .prev
    text-align: right

    &:hover
      img
        transform: translateX(-30px)

  .next

    &:hover
      img
        transform: translateX(30px)
