{% include mobile_nav.html %}
<header class="header">
  <div class="header__main">
    <div class="container">
      <a class="logo" href="{{ site.url }}{{ site.baseurl }}">
        <img src="{{ site.url }}{{ site.baseurl }}assets/img/MMT_logo.svg" alt="MMT">
      </a>
      <nav class="nav">
        <ul class="nav__list">
          {% for link in site.data.site_nav %} {% if link.text == 'login' %}
          <li class="nav__item">
            <a class="link__btn--small" href="{{ link.url }}">{{ link.text }}</a>
          </li>
          {% elsif link.text == 'upload artwork' %}
          <li class="nav__item">
            <a href="{{ link.url }}">{{ link.text }}</a>
          </li>
          {% else %}
          <li class="nav__item">
            <a href="{{ link.url }}">{{ link.text }}</a>
          </li>
          {% endif %} {% endfor %}
        </ul>
        <div class="nav__mobile-toggle"></div>
      </nav>
    </div>
  </div>
</header>