<div class="mobile-nav__container">
  <div class="mobile-nav">
    <div class="mobile-nav__close-btn"></div>
    <ul class="mobile-nav__list">
      <li class="mobile-nav__item">
        <span class="mobile-nav__icon">
          <img src="{{ site.url }}{{ site.baseurl }}assets/img/Gallery.svg" height="30px" width="30px" alt="{{ site.data.site_nav[0].text }}">
        </span>
        <a id="work-link" href="{{ site.url }}{{ site.baseurl }}{{ site.data.site_nav[0].url }}">{{ site.data.site_nav[0].text }}</a>
      </li>
      <li class="mobile-nav__item">
        <span class="mobile-nav__icon">
          <img src="{{ site.url }}{{ site.baseurl }}assets/img/Report.svg" height="30px" width="30px" alt="{{ site.data.site_nav[1].text }}">
        </span>
        <a id="about-link" href="{{ site.url }}{{site.baseurl}}{{ site.data.site_nav[1].url }}">{{ site.data.site_nav[1].text }}</a>
      </li>
      <li class="mobile-nav__item">
        <span class="mobile-nav__icon">
          <img src="{{ site.url }}{{ site.baseurl }}assets/img/Upload.svg" height="30px" width="30px" alt="{{ site.data.site_nav[2].text }}">
        </span>
        <a id="upload-link" href="{{ site.data.site_nav[2].url }}">{{ site.data.site_nav[2].text }}</a>
      </li>
      <li class="mobile-nav__item">
        <span class="mobile-nav__icon">
          <img src="{{ site.url }}{{ site.baseurl }}assets/img/Portfolio.svg" height="30px" width="30px" alt="Careers">
        </span>
        <a id="work-link" href="{{ site.url }}{{site.baseurl}}{{ site.data.site_nav[3].url }}">{{ site.data.site_nav[3].text }}</a>
      </li>
    </ul>
    <ul class="categories-nav mobile-nav__list">
      <h3>Categories</h3>
      {% for category in site.data.categories %}
      <li class="mobile-nav__item"><a href="{{ site.url }}{{ site.baseurl }}{{category.link}}">{{category.name}}</a></li>
      {% endfor %}
    </ul>
    <a class="mobile-login" href="{{ site.data.site_nav[4].url }}">{{ site.data.site_nav[4].text }}</a>
  </div>
</div>
<header class="header">
  <div class="header__main">
    <div class="container">
      <a class="logo" href="{{ site.url }}{{ site.baseurl }}">
        <img src="{{ site.url }}{{ site.baseurl }}assets/img/MMT_logo.svg" alt="MMT">
      </a>
      <nav class="nav">
        <ul class="nav__list">
          {% for link in site.data.site_nav %}
          {% if link.text == 'login' %}
            <li class="nav__item"><a class="link__btn--small" href="{{ link.url }}">{{ link.text }}</a></li>
          {% elsif link.text == 'upload artwork' %}
            <li class="nav__item"><a href="{{ link.url }}">{{ link.text }}</a></li>
          {% else %}
            <li class="nav__item"><a href="{{ site.url }}{{site.baseurl}}{{ link.url }}">{{ link.text }}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
        <div class="nav__mobile-toggle"></div>
      </nav>
    </div>
  </div>
</header>
