<section class="about__hero">
  <h1 class="about__heading">We created outdoor.</h1>
</section>
<section class="about">
  <div class="container flex perspective">
    <section id="founding-text" class="information--left about-left--hide">
      <h1 class="about__title">{{ site.data.about[0].heading }}</h1>
      <span class="about__underscore"></span>
      <p class="about__body">
        {{ site.data.about[0].body }}
      </p>
    </section>
    <section id="founding-image" class="information--right about--flex about-right--hide">
      <img class="about__image" src="{{ site.data.about[0].img }}" alt="{{ site.data.about[0].alt }}">
    </section>
  </div>
</section>
<section class="about about--alternate-color">
  <div class="container flex flex--reverse perspective">
    <section id="founder-image" class="information--left about--flex about-left--hide">
      <img class="about__image" src="{{ site.data.about[1].img }}" alt="{{ site.data.about[1].alt }}">
    </section>
    <section id="founder-text" class="information--right about-right--hide">
      <h1 class="about__title">{{ site.data.about[1].heading }}</h1>
      <span class="about__underscore"></span>
      <p class="about__body">
        {{ site.data.about[1].body }}
      </p>
    </section>
  </div>
</section>
<section class="about">
  <div class="container flex perspective">
    <section id="digital-text" class="information--left about-left--hide">
      <h1 class="about__title">{{ site.data.about[2].heading }}</h1>
      <span class="about__underscore"></span>
      <p class="about__body">
        {{ site.data.about[2].body }}
      </p>
    </section>
    <section id="digital-image" class="information--right about--flex about-right--hide">
      <img class="about__image" src="{{ site.data.about[2].img }}" alt="{{ site.data.about[2].alt }}">
    </section>
  </div>
</section>
<section class="about about--alternate-color">
  <div class="container flex flex--reverse perspective">
    <section id="efficiency-image" class="information--left about--flex about-left--hide">
      <img class="about__image" src="{{ site.data.about[3].img }}" alt="{{ site.data.about[3].alt }}">
    </section>
    <section id="efficiency-text" class="information--right about-right--hide">
      <h1 class="about__title">{{ site.data.about[3].heading }}</h1>
      <span class="about__underscore"></span>
      <p class="about__body">
        {{ site.data.about[3].body }}
      </p>
    </section>
  </div>
</section>
<section class="about">
  <div class="container flex perspective">
    <section id="oneprint-text" class="information--left about-left--hide">
      <h1 class="about__title">{{ site.data.about[4].heading }}</h1>
      <span class="about__underscore"></span>
      <p class="about__body">
        {{ site.data.about[4].body }}
      </p>
    </section>
    <section id="oneprint-image" class="information--right about--flex about-right--hide">
      <img class="about__image" src="{{ site.data.about[4].img }}" alt="{{ site.data.about[4].alt }}">
    </section>
  </div>
</section>
