<section class="about">
  <div class="container flex">
    <section class="about__dates">
      <span class="date__line"></span>
      <div class="date__lockup">
        <div class="about__date"><span class="about__year">1987</span></div>
        <div class="dot">
          <span class="dot__date">1987</span>
        </div>
      </div>
    </section>
    <section class="about__events">
      <div class="about__event-1">
        <h1 class="about__heading">Founded</h1>
        <p class="about__body">MMT is a Media Display Company that has been serving the Out of Home Advertising, Sports &amp; Event venues, and Retail Environments since 1987.</p>
        <div class="img-group">
          <div><img src="{{ site.baseurl }}assets/img/drums-1.jpg" alt=""></div>
          <div><img src="{{ site.baseurl }}assets/img/drums-2.jpg" alt=""></div>
        </div>
      </div>
      <div class="about__event-2">
        <h1 class="about__heading">Founded</h1>
        <p class="about__body">MMT is a Media Display Company that has been serving the Out of Home Advertising, Sports &amp; Event venues, and Retail Environments since 1987.</p>
        <div class="img-group">
          <div><img src="{{ site.baseurl }}assets/img/drums-1.jpg" alt=""></div>
          <div><img src="{{ site.baseurl }}assets/img/drums-2.jpg" alt=""></div>
        </div>
      </div>
    </section>
  </div>
</section>
