<section class="artwork-page__hero">
  <h1 class="artwork-page__heading">Artwork Specifications.</h1>
</section>
<section class="artwork-page">
  <div class="locations">
    <div class="container">
      <h2 class="artwork__title">Specifications</h2>
      <h1 class="about__title">File Delivery</h1>
      <span class="about__underscore"></span>
      <ul class="template-list">
        <li class="template-list__item">MMT File upload -
          <a href="https://orders.mmt.com/upload">Upload artwork</a>
        </li>
        <li class="template-list__item">3rd party file transfer services -
          <a href="mailto:mmtgraphics@mmt.com">mmtgraphics@mmt.com</a>
        </li>
        <li class="template-list__item">E-mail files and project information -
          <a href="mailto:mmtgraphics@mmt.com">mmtgraphics@mmt.com</a>
        </li>
      </ul>

      <h1 class="about__title">File Preparation</h1>
      <span class="about__underscore"></span>
      <ul class="template-list">
        <li class="template-list__item">Preferred file format - PDF</li>
        <li class="template-list__item">
          <ul class="template-list--nested">
            <li class="template-list__item">Recommended PDF preset - PDF/x-4</li>
          </ul>
          <li class="template-list__item">Image Design Applications - .PSD / .PSB / .EPS / .TIF / .JPEG</li>
          <li class="template-list__item">
            <ul class="template-list--nested">
              <li class="template-list__item">CMYK format</li>
              <li class="template-list__item">Convert all fonts to outlines</li>
            </ul>
          </li>
          <li class="template-list__item">Layout Design Applications - Adobe InDesign/Adobe Illustrator/QuarkXPress</li>
          <li class="template-list__item">
            <ul class="template-list--nested">
              <li class="template-list__item">Layout Document - .INDD / .AI / .QXP</li>
              <li class="template-list__item">Include all linked image files used in layout or ensure they are embedded.</li>
              <li class="template-list__item">Include all fonts or preferrably convert all fonts to outlines</li>
            </ul>
          </li>
      </ul>

      <h1 class="about__title">Color</h1>
      <span class="about__underscore"></span>
      <ul class="template-list">
        <li class="template-list__item">MMT is a G7 certified master printer. All printing is in the CMYK colorspace.</li>
        <li class="template-list__item">Recommended CMYK profile - GRACoL</li>
      </ul>

      <h1 class="about__title">Scale Examples</h1>
      <span class="about__underscore"></span>
      <div class="table-container">
        <table>
          <tr>
            <th>Product</th>
            <th>Size (HxW)</th>
            <th>Mechanical Size</th>
            <th>Resolution</th>
          </tr>
          <tr>
            <td>14 x 48 Bulletin</td>
            <td>
              <div>14'H</div>
              <div>48'W</div>
            </td>
            <td class="dims">
              <div>visible: 14"H x 48"W</div>
              <div>overall: 15"H x 49"W</div>
            </td>
            <td>300ppi</td>
          </tr>
          <tr>
            <td>10.5 x 36 Bulletin</td>
            <td>
              <div>10'6"H</div>
              <div>36'W</div>
            </td>
            <td class="dims">
              <div>visible: 10.5"H x 36"W</div>
              <div>overall: 11.5"H x 37"W</div>
            </td>
            <td>300ppi</td>
          </tr>
          </tr>
          <tr>
            <td>20 x 60 Bulletin</td>
            <td>
              <div>20'H</div>
              <div>60'W</div>
            </td>
            <td class="dims">
              <div>visible: 20"H x 60"W</div>
              <div>overall: 21"H x 61"W</div>
            </td>
            <td>300ppi</td>
          </tr>
          <tr>
            <td>30 Sheet</td>
            <td>
              <div>10'4"H</div>
              <div>22'8"W</div>
            </td>
            <td class="dims">
              <div>visible: 12.4"H x 27.2"W</div>
              <div>overall: 12.4"H x 27.2"W</div>
            </td>
            <td>300ppi</td>
          </tr>
          <tr>
            <td>Transit Shelter</td>
            <td>
              <div>69"H</div>
              <div>48"W</div>
            </td>
            <td class="dims">
              <div>visible: 65”H x 44”W</div>
              <div>overall: 69”H x 48”W</div>
            </td>
            <td>100ppi</td>
          </tr>
          <tr>
            <td>Urban Panel</td>
            <td>
              <div>30"H</div>
              <div>60"W</div>
            </td>
            <td class="dims">
              <div>visible: 28”H x 58”W</div>
              <div>overall: 30”H x 60”W</div>
            </td>
            <td>100ppi</td>
          </tr>
          <tr>
            <td>2-Sheet</td>
            <td>
              <div>46"H</div>
              <div>60"W</div>
            </td>
            <td class="dims">
              <div>visible: 42”H x 56”W</div>
              <div>overall: 46”H x 60”W</div>
            </td>
            <td>100ppi</td>
          </tr>
          <tr>
            <td>Bus King</td>
            <td>
              <div>30"H</div>
              <div>144"W</div>
            </td>
            <td class="dims">
              <div>visible: 27”H x 141”W</div>
              <div>overall: 30”H x 144”W</div>
            </td>
            <td>100ppi</td>
          </tr>
        </table>
      </div>

      <h2 class="artwork__title">Templates</h2>
      <div class="flex">
        <div class="col">
          <h1 class="about__title">Bulletins</h1>
          <span class="about__underscore"></span>
          <ul class="template-list">
            <li class="template-list__item">
              <a href="/downloads/10-6x36.zip">10' 6" x 36'</a>
            </li>
            <li class="template-list__item">
              <a href="/downloads/10x30.zip">10'x 30'</a>
            </li>
            <li class="template-list__item">
              <a href="/downloads/10x40.zip">10' x 40'</a>
            </li>
            <li class="template-list__item">
              <a href="/downloads/12-3x24-6.zip">12' 3" x 24' 6"</a>
            </li>
            <li class="template-list__item">
              <a href="/downloads/12x24.zip">12' x 24'</a>
            </li>
            <li class="template-list__item">
              <a href="/downloads/12x25.zip">12' x 25'</a>
            </li>
            <li class="template-list__item">
              <a href="/downloads/12x40.zip">12' x 40'</a>
            </li>
            <li class="template-list__item">
              <a href="/downloads/12x48.zip">12' x 48'</a>
            </li>
            <li class="template-list__item">
              <a href="/downloads/14x40.zip">14' x 40'</a>
            </li>
            <li class="template-list__item">
              <a href="/downloads/14x48.zip">14' x 48'</a>
            </li>
            <li class="template-list__item">
              <a href="/downloads/18x48.zip">18' x 48'</a>
            </li>
            <li class="template-list__item">
              <a href="/downloads/19-6x48.zip">19' 6" x 48'</a>
            </li>
            <li class="template-list__item">
              <a href="/downloads/19x48.zip">19' x 48'</a>
            </li>
            <li class="template-list__item">
              <a href="/downloads/20x60.zip">20' x 60'</a>
            </li>
          </ul>
        </div>
        <div class="col">
          <h1 class="about__title">Posters</h1>
          <span class="about__underscore"></span>
          <ul class="template-list">
            <li class="template-list__item">
              <a href="/downloads/30sheet.zip">30 Sheet</a>
            </li>
          </ul>
        </div>
        <div class="col">

        </div>
      </div>
    </div>
  </div>
</section>