<section class="careers">
  <section class="careers__hero">
    <h1 class="careers__heading">Join our team.</h1>
  </section>
  <div class="container">
  <h2 class="careers__title">Available Positions</h2>
  <!--BEGIN HRM DIRECT DYNAMIC CODE-->
    <link rel="stylesheet" type="text/css" href="//reports.hrmdirect.com/employment/default/sm/settings/dynamic-embed/dynamic-iframe-embed-css.php" />

    <script type="text/javascript" src="//reports.hrmdirect.com/employment/default/sm/settings/dynamic-embed/dynamic-iframe-embed-js.php"></script>
    <div id="iframeHeightDiv" name="HRM Direct Career Site iFrame Container" align="center">
      <iframe id="inlineframe" name="HRM Direct Career Site iFrame"
         src="//mmt.hrmdirect.com/employment/job-openings.php?search=true&nohd=&dept=-1&city=-1&state=-1"
          frameborder="0" allowtransparency="true">
      </iframe>
    </div>
   <!--END HRM DIRECT DYNAMIC CODE-->
   </div>
</section>
