<section class="certifications">
  <div class="container flex">
    <section class="gracol">
      <div class="certifications__icon">
        <!-- <img src="assets/img/g7-logo.svg" alt="G7 Certification"> -->
        <img src="https://res.cloudinary.com/jsams/image/upload/v1502288916/g7-logo_denbi2.svg" alt="G7 Certification">
      </div>
      <h1 class="certifications__title">G7 Master Printer</h1>
      <p class="certifications__body">
        G7 Master Qualification demonstrates a level of control and expertise that places MMT at the top of our field.
      </p>
      <span class="certifications__link">to learn more about IDEAlliance’s G7 program, visit their website <a href="https://www.idealliance.org/g7spec/">idealliance.org</a></span>
    </section>
    <section class="mcs">
      <div class="certifications__icon">
        <!-- <img src="assets/img/3m-logo.svg" alt="MCS Warranty"> -->
        <img src="https://res.cloudinary.com/jsams/image/upload/v1502288916/3m-logo_k4kwem.svg" alt="MCS Warranty">
      </div>
      <h1 class="certifications__title">3M&trade; MCS&trade; Warranty</h1>
      <p class="certifications__body">
        MMT is certified to offer 3M&trade; MCS&trade; warranty for graphics made with all 3M-specified products when applied and used as recommended.
      </p>
      <span class="certifications__link">to learn more about 3M&trade; MCS&trade; Warranties, visit their website <a href="http://www.3m.com/3M/en_US/graphics-signage-us/resources/warranties/">3m.com</a></span>
    </section>
  </div>
</section>
