<section class="certifications">
  <div class="container cf">
    <section class="gracol">
      <div class="certifications__icon">
        <img src="assets/img/g7-logo.svg" alt="">
      </div>
      <h1 class="certifications__title">G7 Master Printer</h1>
      <p class="certifications__body">
        G7 Master Qualification demonstrates a level of control and expertise that places MMT at the top of our field.
      </p>
      <span class="certifications__link">to learn more about IDEAlliance’s G7 program, visit their website <a href="#">idealliance.org</a></span>
    </section>
    <section class="mcs">
      <div class="certifications__icon">
        <img src="assets/img/3m-logo.svg" alt="">
      </div>
      <h1 class="certifications__title">3M&trade; MCS&trade; Warranty</h1>
      <p class="certifications__body">
        MMT is certified to offer 3M&trade; MCS&trade; warranty for graphics made with all 3M-specified products when applied and used as recommended.
      </p>
      <span class="certifications__link">to learn more about 3M&trade; MCS&trade; Warranties, visit their website <a href="#">3m.com</a></span>
    </section>
  </div>
</section>
