<section class="clients">
  <div class="container">
    <ul>
      <!-- <li><img src="assets/img/coke.svg" alt="Alpacha"></li>
      <li><img src="assets/img/honda.svg" alt="Alpacha"></li>
      <li><img src="assets/img/dunkin.svg" alt="Alpacha"></li>
      <li><img src="assets/img/jitb.svg" alt="Alpacha"></li>
      <li><img src="assets/img/disney.svg" alt="Alpacha"></li>
      <li><img src="assets/img/yankees.svg" alt="Alpacha"></li> -->
      <li><img src="https://res.cloudinary.com/jsams/image/upload/c_scale,h_30/v1502289305/coke_dolszv.svg" alt="Coca-Cola"></li>
      <li><img src="https://res.cloudinary.com/jsams/image/upload/c_scale,h_30/v1502289305/honda_pyvg7l.svg" alt="Honda"></li>
      <li><img src="https://res.cloudinary.com/jsams/image/upload/c_scale,h_30/v1502289305/dunkin_wrjkfc.svg" alt="Dunkin Donuts"></li>
      <li><img src="https://res.cloudinary.com/jsams/image/upload/c_scale,h_30/v1502289305/jitb_vzfivb.svg" alt="Jack in the Box"></li>
      <li><img src="https://res.cloudinary.com/jsams/image/upload/c_scale,h_30/v1502289305/disney_o4eveg.svg" alt="Disney"></li>
      <li><img src="https://res.cloudinary.com/jsams/image/upload/c_scale,h_30/v1502289308/yankees_mg9huj.svg" alt="Yankees"></li>
    </ul>
  </div>
</section>
