<section class="clients">
  <div class="container">
    <ul>
      <li><img src="assets/img/placeholder-logo.svg" alt="Alpacha"></li>
      <li><img src="assets/img/placeholder-logo.svg" alt="Alpacha"></li>
      <li><img src="assets/img/placeholder-logo.svg" alt="Alpacha"></li>
      <li><img src="assets/img/placeholder-logo.svg" alt="Alpacha"></li>
      <li><img src="assets/img/placeholder-logo.svg" alt="Alpacha"></li>
      <li><img src="assets/img/placeholder-logo.svg" alt="Alpacha"></li>
    </ul>
  </div>
</section>
