<section class="clients">
  <div class="container">
    <ul>
      <li>{% img 'placeholder-logo.svg' alt:'Alpacha' height:'20px' width:'76px' %}</li>
      <li>{% img 'placeholder-logo.svg' alt:'Alpacha' height:'20px' width:'76px' %}</li>
      <li>{% img 'placeholder-logo.svg' alt:'Alpacha' height:'20px' width:'76px' %}</li>
      <li>{% img 'placeholder-logo.svg' alt:'Alpacha' height:'20px' width:'76px' %}</li>
      <li>{% img 'placeholder-logo.svg' alt:'Alpacha' height:'20px' width:'76px' %}</li>
      <li>{% img 'placeholder-logo.svg' alt:'Alpacha' height:'20px' width:'76px' %}</li>
    </ul>
  </div>
</section>
