<section class="contact-page__hero">
  <h1 class="contact-page__heading">Around the globe.</h1>
</section>
<section class="contact-page">
  <div class="locations">
    <div class="location">
      <div class="location__icon">
        <img src="assets/img/location_icon.svg" alt="Location Icon">
      </div>
      <h2 class="location__heading">MMT USA</h2>
      <p class="location__body">
        810 7th Avenue, 29th Floor
        <br />New York, NY 10019
      </p>
      <span class="location__name">
        Email:
        <a href="mailto:info@mmt.com">info@mmt.com</a>
        <br />Phone:
        <span class="location__accent">800.999.4668</span>
      </span>
    </div>
    <div class="container flex">
      <div class="col">
        <div class="location">
          <div class="location__icon">
            <img src="assets/img/location_icon.svg" alt="Location Icon">
          </div>
          <h2 class="location__heading">Asia
            <br />MMT Malaysia</h2>
          <p class="location__body">
            PT 12873(Lot D17B),
            <br />Nilai Industrial Estate
            <br />Negeri Sembilan 71800
            <br />Malaysia
          </p>
          <span class="location__name">
            <span class="location__contact-name">Martin Kim</span>
            <br />Email:
            <a href="mailto:martinkim@my.mmt.com">martinkim@my.mmt.com</a>
            <br />Phone:
            <span class="location__accent">60.6.798.2222</span>
            <br />Fax:
            <span class="location__accent">60.6.798.2233</span>
          </span>
        </div>
      </div>
      <div class="col">
        <div class="location">
          <div class="location__icon">
            <img src="assets/img/location_icon.svg" alt="Location Icon">
          </div>
          <h2 class="location__heading">Australia
            <br />MMT Australia</h2>
          <p class="location__body">
            28-46 Commercial Drive
            <br />Shailer Park
            <br />Queensland 4128
            <br />Australia
          </p>
          <span class="location__name">
            <span class="location__contact-name">Brian McCarthy</span>
            <br />Email:
            <a href="mailto:bmccarthy@mmtprint.com">bmccarthy@mmtprint.com</a>
            <br />Phone:
            <span class="location__accent">61.7.3290.9000</span>
            <br />Fax:
            <span class="location__accent">61.7.3290.9099</span>
          </span>
        </div>
      </div>
      <div class="col">
        <div class="location">
          <div class="location__icon">
            <img src="assets/img/location_icon.svg" alt="Location Icon">
          </div>
          <h2 class="location__heading">Dubai
            <br />MMT Mena</h2>
          <p class="location__body">
            Dubai Investment Park
            <br />W P 1
            <br />Dubai 502094
            <br />UAE
          </p>
          <span class="location__name">
            <span class="location__contact-name">Mounir Saber</span>
            <br />Email:
            <a href="mailto:info@parapub.net">info@parapub.net</a>
            <br />Phone:
            <span class="location__accent">971.4.8853123</span>
            <br />Fax:
            <span class="location__accent">971.4.8853124</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>