<footer class="page__footer">
  <div class="office-image">
    <div id="office-nyc" class="office-image__img office-image__img--active"></div>
    <div id="office-la" class="office-image__img"></div>
    <div id="office-wooster" class="office-image__img"></div>
  </div>
  <div class="container">
    <section class="contact">
      <h1 class="contact__heading">Get in Touch</h1>
      <a id="nyc-btn" class="contact__office active" href="#">new york</a>
      <a id="la-btn" class="contact__office" href="#">los angeles</a>
      <a id="wooster-btn" class="contact__office" href="#">wooster</a>
      <span class="contact__phone">1.800.999.4668</span>
      <div class="contact__address-container">
        <span id="nyc-address" class="contact__address contact__address--active">810 7th Avenue, 29th Floor<br />New York, NY 10019</span>
        <span id="la-address" class="contact__address">370 Amapola Avenue, Suite 200<br />Torrance, Ca. 90501</span>
        <span id="wooster-address" class="contact__address">1061 Venture Blvd<br />Wooser, OH 44691</span>
      </div>
      <a class="contact__email" href="mailto:info@mmt.com">info@mmt.com</a>
      <div class="social">
        <a class="social__link" href="#">
          <img src="assets/img/linkedin-icon.svg" alt="">
        </a>
        <a class="social__link" href="#">
          <img src="assets/img/facebook-icon.svg" alt="">
        </a>
        <a class="social__link" href="#">
          <img src="assets/img/twitter-icon.svg" alt="">
        </a>
        <a class="social__link" href="#">
          <img src="assets/img/instagram-icon.svg" alt="">
        </a>
        <a class="social__link" href="#">
          <img src="assets/img/youtube-icon.svg" alt="">
        </a>
      </div>
    </section>
  </div>
</footer>
<div class="copyright">
  <span>© Copyright 2017 Metromedia Technologies, Inc.</span>
</div>
