<section class="intro">
  <div class="media-controls hide-media-controls">
    <img id="pause" class="media-btn" src="{{site.baseurl}}assets/img/pause-circle.svg" alt="pause">
    <img id="play" class="media-btn hide-media-btn" src="{{site.baseurl}}assets/img/play-circle.svg" alt="play">
    <img id="volume" class="media-btn" src="{{site.baseurl}}assets/img/volume-2.svg" alt="volume on">
    <img id="mute" class="media-btn hide-media-btn" src="{{site.baseurl}}assets/img/volume-x.svg" alt="mute">
  </div>
  <div class="container">
    <h1 class="intro__title">{{ site.data.brief.heading }}</h1>
    <p class="intro__body">{{ site.data.brief.body }}</p>
  </div>
</section>
