<section id="services" class="services">
  <h1 class="services__heading">What we offer.</h1>
  <div class="container">
      {% for service in site.data.services %}
      {% assign mod = forloop.index | modulo:4 %}
      {% if mod == 1 or forloop.first %}
      <div class="flex-row">
      {% endif %}
      <div class="flex-col-4 service service--hide">
        <div>
          <h2 class="service__title">{{ service.heading }}</h2>
          <span class="service__underscore"></span>
        </div>
        <p class="service__body">{{ service.body }}</p>
      </div>
      {% if mod == 0 or forloop.last %}
        </div>
      {% endif %}
      {% endfor %}
  </div>
</section>
