<section class="testimonials">
  <div class="container flex">
    {% for testimonial in site.data.testimonials %}
    <div class="col">
      <div class="testimonial">
        <div class="testimonial__icon">
          <img src="assets/img/quote-icon.svg" alt="Quotation Marks">
        </div>
        <p class="testimonial__body">
          {{ testimonial.body }}
        </p>
        <span class="testimonial__name">
          {{ testimonial.name }}
        </span>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
