<section class="visen-intro">
  <div class="container flex">
    <section class="about-visen">
      <h1 class="about-visen--heading">WHAT IS VISEN</h1>
      <p class="about-visen--body">VISEN is a new illumination system that has the ability to transform any existing front-lit structure into a low-energy, LED illuminated display. 
        VISEN combined with MMT’s unique Day to Night display visuals offer an unrivaled ability to create dramatic Visual Enhancements to any billboard campaign.</p>
    </section>
    <section class="visen-video">
      <div class="visen-video--container">
          <iframe src="https://www.youtube.com/embed/rH-6fVsitUE?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </section>
  </div>
</section>
<section class="visen-photo"></section>
<section class="visen-specifications">
  <div class="container flex">
    <section class="led-specs">
      <div class="certifications__icon">
        <img src="assets/img/LEDicon.svg" alt="G7 Certification">
      </div>
      <h1 class="specifications--heading">Illumination System</h1>
      <p class="specifications--body">
        VISEN is installed in 2 foot wide strips of LED lighting. These strips can be cut to any length and can be made to fit most structures. A VISEN unit is rated for 50,000 hours of continuous use. The quick installation and longevity of VISEN makes it perfect for short or long campaigns alike.
      </p>
    </section>
    <section class="power-specs">
      <div class="certifications__icon">
        <img src="assets/img/powericon.svg" alt="G7 Certification">
      </div>
      <h1 class="specifications--heading">Power Requirements</h1>
      <p class="specifications--body">
        VISEN has the ability to run off of either 110VAC or 220VAC. This adds to the flexibility of the lighting system. At 110VAC it requires 20 Amps and at 220VAC it requires 10 Amps. The VISEN unit produces 2200 Watts of power.
      </p>
    </section>
  </div>
</section>