<section class="visen-hero">
  {% include mobile_nav.html %}
  <video autoplay loop muted playsinline>
    <source src="{{ site.url }}{{ site.baseurl }}assets/video/visen-hero-ws.mp4" type="video/mp4">
  </video>
  <div class="container">
    <div class="hero__header">
      <a class="logo" href="{{ site.url }}{{ site.baseurl }}">
        <img src="{{ site.url }}{{ site.baseurl }}assets/img/MMT_logo.svg" alt="MMT">
      </a>
      <nav class="nav">
        <ul class="nav__list">
          {% for link in site.data.site_nav %}
          <li class="nav__item">
            <a {% if link.text=='login' %}class="link__btn--alt" {% endif %} href="{{ link.url }}">{{ link.text }}</a>
          </li>
          {% endfor %}
        </ul>
        <div class="nav__mobile-toggle"></div>
      </nav>
    </div>
  </div>
</section>