<section class="visen-intro">
  <div class="container flex">
    <section class="about-visen">
      <h1 class="about-visen--heading">{{site.data.visenintro.heading}}</h1>
      <p class="about-visen--body">{{site.data.visenintro.body}}</p>
    </section>
    <section class="visen-video">
      <div class="visen-video--container">
          <iframe src="https://www.youtube.com/embed/rH-6fVsitUE?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </section>
  </div>
</section>
<section class="visen-photo"></section>
<section class="visen-specifications">
  <div class="container flex">
    <section class="led-specs">
      <div class="certifications__icon">
        <img src="assets/img/LEDicon.svg" alt="G7 Certification">
      </div>
      <h1 class="specifications--heading">{{site.data.visenspecs[0].heading}}</h1>
      <p class="specifications--body">{{site.data.visenspecs[0].body}}</p>
    </section>
    <section class="power-specs">
      <div class="certifications__icon">
        <img src="assets/img/powericon.svg" alt="G7 Certification">
      </div>
      <h1 class="specifications--heading">{{site.data.visenspecs[1].heading}}</h1>
      <p class="specifications--body">{{site.data.visenspecs[1].body}}</p>
    </section>
  </div>
</section>