.category-showcase
  background: rgba($rgba-grey-dark, .04)
  min-height: 400px
  width: 100%

.category-details
  color: #3B3E47
  flex: 0 0 50%
  height: 400px
  padding: 70px 70px 70px 5px
  position: relative

  @media(max-width: 800px)
    flex: 0 0 100%
    padding: 20px 5px

  .detail__lockup
    position: relative
    top: 50%
    transform: translateY(-50%)

  h1
    font:
      size: 50px
      weight: 100
    margin: 0 0 10px 0
    padding: 0

  h2
    color: $color-complement
    font:
      size: 34px
    margin: 0 0 30px 0
    padding: 0

  p
    font:
      size: 20px
      weight: 300
    margin: 0
    padding: 0

.category-hero
  flex: 0 0 50%
  height: 400px
  overflow: hidden
  padding: 10px 5px 10px 5px

  @media(max-width: 800px)
    flex: 0 0 100%
    padding: 10px 5px 10px 5px

  img
    height: 100%
    width: 100%

.category-thumbnails
  background: rgba($rgba-grey-dark, .04)
  padding-bottom: 70px

  .container
    overflow: hidden

  img
    height: 200px
    width: 100%
