.post-container
  background: rgba($rgba-grey-dark, .04)

.post

  img
    width: 100%

  p
    margin-bottom: 40px

    span
      color: $color-complement
      font:
        size: 40px
        weight: 600

  p:nth-of-type(1):first-line
    color: $color-complement
    font:
      weight: 600

.post-title

.post-description
  font:
    weight: 600

.related
  color: $rgba-grey-dark
  height: 200px
  margin: 0 auto
  max-width: 740px
  padding: 20px
  width: 100%

  h2
    margin: 0

  &-posts
    list-style-type: none
    margin: 0
    padding: 0

    li
      display: inline-block
      font:
        size: 14px
        weight: 300
      margin-right: 20px

      a
        color: $color-complement
