---
layout: default
---
{% include categories_header.html %}

<div class="post-container">
  <article class="post">
    <!-- <h1 class="post-title">{{ page.title }}</h1> -->
    {{ content }}
  </article>

  <aside class="related">
    <h2>Related</h2>
    <ul class="related-posts">
      {% for post in site.related_posts limit:3 %}
        <li>
          <h3>
            <a href="{{ site.baseurl }}{{ post.url }}">
              {{ post.title }}
            </a>
          </h3>
        </li>
      {% endfor %}
    </ul>
  </aside>
</div>
{% include footer.html %}

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous">
</script>
<script src="{{ site.baseurl }}assets/js/p4.entry.chunk.js"></script>
